*{
    margin: 0;
    padding: 0;
    background-image: url('../img/background.jpg');
    font-family: 'Press Start 2P', cursive;
    animation-name: city;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
@keyframes city {
    0% {
        background-position: -20px 100%, 0 0;
    }
    50% {
        background-position: 0px 100%, 120% 60%, 120% 15%, 0 0;
    }  
    100% {
        background-position: 20px 100%, 0 0;
    }
}
.lang-menu{
    color: white;
    position: fixed;
    left: 25%;
    top: 74%;
}
.lang{
    padding: 10px;
    border: 2px white solid;
} 

.sans{
    width: 78px;
    height: 118px;
    position: fixed;
    left: 48%;
    top: 60%;
    animation-name: movingSans;
    animation-duration: 5000ms;
    animation-iteration-count: 1;
    animation-direction: alternate;
}
@keyframes movingSans {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }




.dialog-container{
    position: fixed;
    left:34%;
    top: 72%;
    width: 600px;
    height: 200px;
    background: black;
    border: 5px white solid;
    transition: all;
}
.face_sans{
    background: black;
    width: 160px;
    height: 160px;
    position: absolute;
    left:5%;
    top: 10%;
    animation-name: movingFace;
    animation-duration: 5000ms;
    animation-iteration-count: infinite;
    animation-direction: alternate
}
.face_sans img{
    width: 160px;
    height: 160px;
}
@keyframes movingFace {
    0% {
    transform: translateY(10px)
    }
    100% {
    transform: translateY(-10px)
    }
}
.text{
    background: black;
    width: 300px;
    height: 100px;
    position: absolute;
    left:40%;
    top: 10%;
    color: white;
    font-size: 18px;
    line-height: 180%;
}
.joke_text{
    animation-name: animationJoke;
    animation-duration: 100ms;
    animation-iteration-count: infinite;
    animation-direction: alternate
}
@keyframes animationJoke {
    0% {
    transform: translateX(-1px)
    }
    100% {
    transform: translateX(1px)
    }
}
.choice1{
    background: black;
    width: 100px;
    height: 100px;
    position: absolute;
    left:10%;
    top: 40%;
    color: #4682B4;
    cursor: pointer;
}
.choice2{
    background: black;
    width: 100px;
    height: 100px;
    position: absolute;
    right:10%;
    top: 40%;
    color: #B22222;
    cursor: pointer;
}
.scary{
    animation-name: animationScary;
    animation-duration: 100ms;
    animation-iteration-count: infinite;
    animation-direction: alternate
}
@keyframes animationScary {
    0% {
    transform: translateY(-2px)
    }
    100% {
    transform: translateY(2px)
    }
}
.face_scary{
    animation-name: animationFaceScary;
    animation-duration: 3000ms;
    animation-iteration-count: infinite;
    animation-direction: alternate
}
@keyframes animationFaceScary {
    0% {
    transform: scale(0.1, 0.1);
    transform: rotate(0deg)
    }
    100% {
    transform: scale(0.5, 0.5);
    transform: rotate(180deg)
    }
}

@media screen and (max-width: 980px) {
    *{
        margin: 0;
        padding: 0;
        background-image: url('../img/background.jpg') 20% 20%;
        font-family: 'Press Start 2P', cursive;
        animation-name: city;
        animation-duration: 3s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
    }
    
    @keyframes city {
        0% {
            background-position: -20px 1%, 0 0;
        }
        50% {
            background-position: 0px 1%, 40% 60%, 120% 15%, 0 0;
        }  
        100% {
            background-position: 20px 1%, 0 0;
        }
    }
    .lang-menu{
        color: white;
        position: fixed;
        left: 31%;
        top: 45%;
    }
    .lang{
        padding: 10px;
        border: 2px white solid;
    } 
    .sans{
        width: 108px;
        height: 158px;
        position: fixed;
        left: 38%;
        top: 10%;
        animation-name: movingSans;
        animation-duration: 5000ms;
        animation-iteration-count: 1;
        animation-direction: alternate;
    }
    @keyframes movingSans {
        0% {
          opacity: 0;
        }
        100% {
          opacity: 1;
        }
      }
    .sans img{
        width: 108px;
        height: 158px;
    }
    
    .dialog-container{
        position: fixed;
        left:0%;
        top: 52%;
        width: 350px;
        height: 300px;
        background: black;
        border: 5px white solid;
        transition: all;
    }
    .face_sans{
        background: black;
        width: 100px;
        height: 100px;
        position: absolute;
        left:5%;
        top: 10%;
    }
    .face_sans img{
        width: 100px;
        height: 100px;
    }
    .text{
        background: black;
        width: 200px;
        height: 100px;
        position: absolute;
        left:40%;
        top: 10%;
        color: white;
        font-size: 16px;
        line-height: 180%;
    }
    .choice1{
        background: black;
        width: 100px;
        height: 100px;
        position: absolute;
        left:10%;
        top: 30%;
        color: #4682B4;
        cursor: pointer;
    }
    .choice2{
        background: black;
        width: 100px;
        height: 100px;
        position: absolute;
        right:10%;
        top: 30%;
        color: #B22222;
        cursor: pointer;
    }
}
@media screen and (min-width: 1366px) and (max-width: 1900px) {
    .sans{
        width: 78px;
        height: 118px;
        position: fixed;
        left: 50%;
        top: 55%;
        animation-name: movingSans;
        animation-duration: 5000ms;
        animation-iteration-count: 1;
        animation-direction: alternate;
    }
    
    
    .lang-menu{
        color: white;
        position: fixed;
        left: 15%;
        top: 75%;
    }
    .lang{
        padding: 10px;
        border: 2px white solid;
    } 
    .dialog-container{
        position: fixed;
        left:30%;
        top: 72%;
        width: 600px;
        height: 200px;
        background: black;
        border: 5px white solid;
        transition: all;
    }
    .face_sans{
        background: black;
        width: 160px;
        height: 160px;
        position: absolute;
        left:5%;
        top: 10%;
        animation-name: movingFace;
        animation-duration: 5000ms;
        animation-iteration-count: infinite;
        animation-direction: alternate
    }
    .face_sans img{
        width: 160px;
        height: 160px;
    }
    @keyframes movingFace {
        0% {
        transform: translateY(10px)
        }
        100% {
        transform: translateY(-10px)
        }
    }
    .text{
        background: black;
        width: 300px;
        height: 100px;
        position: absolute;
        left:40%;
        top: 10%;
        color: white;
        font-size: 18px;
        line-height: 180%;
    }
    .joke_text{
        animation-name: animationJoke;
        animation-duration: 100ms;
        animation-iteration-count: infinite;
        animation-direction: alternate
    }
    @keyframes animationJoke {
        0% {
        transform: translateX(-1px)
        }
        100% {
        transform: translateX(1px)
        }
    }
    .choice1{
        background: black;
        width: 100px;
        height: 100px;
        position: absolute;
        left:10%;
        top: 40%;
        color: #4682B4;
        cursor: pointer;
    }
    .choice2{
        background: black;
        width: 100px;
        height: 100px;
        position: absolute;
        right:10%;
        top: 40%;
        color: #B22222;
        cursor: pointer;
    }
}