*{
    margin: 0;
    padding: 0;
    background-image: url('../img/background.jpg');
    font-family: 'Press Start 2P', cursive;
}


.sans{
    width: 78px;
    height: 118px;
    position: fixed;
    left: 50%;
    top: 60%;
    animation-name: movingSans;
    animation-duration: 5000ms;
    animation-iteration-count: 1;
    animation-direction: alternate;
}
@keyframes movingSans {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
@keyframes movingFrisk{
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
  }



.dialog-container{
    position: fixed;
    left:36%;
    top: 72%;
    width: 600px;
    height: 200px;
    background: black;
    border: 5px white solid;
    transition: all;
}
.face_sans{
    background: black;
    width: 160px;
    height: 160px;
    position: absolute;
    left:5%;
    top: 10%;
}
.face_sans img{
    width: 160px;
    height: 160px;
}
.text{
    background: black;
    width: 300px;
    height: 100px;
    position: absolute;
    left:40%;
    top: 10%;
    color: white;
    font-size: 18px;
    line-height: 180%;
}

.choice1{
    background: black;
    width: 100px;
    height: 100px;
    position: absolute;
    left:5%;
    top: 40%;
    color: white;
    cursor: pointer;
}
.choice2{
    background: black;
    width: 100px;
    height: 100px;
    position: absolute;
    right:5%;
    top: 40%;
    color: white;
    cursor: pointer;
}

@media screen and (max-width: 980px) {
    .sans{
        width: 78px;
        height: 118px;
        position: fixed;
        left: 40%;
        top: 10%;
        animation-name: movingSans;
        animation-duration: 5000ms;
        animation-iteration-count: 1;
        animation-direction: alternate;
    }
    @keyframes movingSans {
        0% {
          opacity: 0;
        }
        100% {
          opacity: 1;
        }
      }
    @keyframes movingFrisk{
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
      }
    
    
    
    .dialog-container{
        position: fixed;
        left:0%;
        top: 42%;
        width: 100%;
        height: 500px;
        background: black;
        border: 5px white solid;
        transition: all;
    }
    .face_sans{
        background: black;
        width: 100px;
        height: 100px;
        position: absolute;
        left:5%;
        top: 10%;
    }
    .face_sans img{
        width: 100px;
        height: 100px;
    }
    .text{
        background: black;
        width: 200px;
        height: 100px;
        position: absolute;
        left:40%;
        top: 10%;
        color: white;
        font-size: 16px;
        line-height: 180%;
    }
}
